<table class="table">
    <thead>
      <tr>
        <th scope="col" class="table-success">Sl No</th>
        <th scope="col" class="table-info">Image</th>
        <th scope="col" class="table-secondary">Item Name</th>
        <!-- <th scope="col" class="table-danger">Item Details</th> -->
        <th scope="col" class="table-warning">Price</th>
        <th scope="col" class="table-danger">Quantity</th>
        <!-- <th scope="col" class="table-danger">subTotal</th> -->
        <th scope="col" class="table-primary">Remove</th>
      </tr>
    </thead>
    <tbody *ngFor="let cartp of item; let i =index">
      <tr>
        <!-- <th scope="row">1</th> -->
        <td class="table-info">{{i+1}}</td>
        <td class="table-success">
          <img src="{{img_path}}{{cartp.image}}" alt="image" height="50px" width="50px"></td>
        <td class="table-warning">{{cartp.itemName}}</td>
        <!-- <td>{{cartp.itemDetails.slice(0,20)}}</td> -->
        <td class="table-secondary">{{cartp.price}}</td>
        <td class="table-primary"> <button class="btn btn-info" (click)="inc()" >
          <i class="fa fa-plus"></i></button><b>&nbsp;&nbsp;&nbsp;{{count}}&nbsp;&nbsp;&nbsp;</b>
          <button class="btn btn-info"(click)="dec()">
            <i class="fa fa-minus"></i></button>        
        </td>
        <!-- <td><strong>{{}}</strong></td> -->
        <td class="table-danger">
          <button class="btn btn-danger" (click)="del(cartp.id)">
            <i class="fa-sharp fa-solid fa-trash"></i>
            
          </button>
        </td>
       

        
      </tr>
    </tbody>
  </table>
        