<!-- <p>details works!</p> -->



<div class="card">
    <img src="{{imagePath}}{{single_details.image}}" class="card-img-top" alt="">
    <div class="card-body">
      <!-- <h5 class="card-title"><h1>Name:</h1> {{single_details.itemName}}</h5> -->
      <h1 class="card-title">Name:</h1> <h4>{{single_details.itemName}}</h4>
      <!-- <h1 class="card-title"> Name:{{single_details.itemName}}<p>{{single_details.itemName}}</p></h1> -->
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><h1>Description: </h1>{{single_details.itemDetails}}</li>
      <li class="list-group-item"><h1>Price:</h1> Rs. {{single_details.price}}</li>
    </ul>
    <div class="card-body">
      <!-- <a href="#" class="card-link">Card link</a> -->
      <button class="btn btn-outline-warning">Order Now</button>
      <!-- <a href="#" class="card-link">Another link</a> -->
    </div>
  </div>